<!DOCTYPE html>
<html>
<head>
	<title>Plugged In</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;600;800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

	<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/stylesheets/blog-post.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
</head>
<body>

	<div class="page-head">
    <a href="/"><i class="fas fa-plug"></i>  Plugged In</a>
  </div>