<!DOCTYPE html>
<html>
<head>
	<title>Blog View</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/blog-post.css">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-custom">
    	<a class="navbar-brand" href="/dashboard"><i class="fas fa-apple-alt"></i> Blog View</a>
  		<button style="background:white; color: black" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"><i class="fas fa-chevron-down"></i></span>
  		</button>

  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
    		<ul class="navbar-nav mr-auto">
    		</ul>
  		</div>
	</nav>